body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333333; /* カーボン色 */
    color: white; /* テキストを白色に */
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    color: white;
    margin-top: 20px;
    padding-bottom: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #333333; /* カーボン色 */
}

.social-link {
    font-size: 1.5em;
    color: white; /* テキストカラーを白に設定 */
    background-color: #333333; /* カーボン色の背景 */
    border: 2px solid white; /* 白い枠で囲む */
    padding: 10px 20px; /* パディングを適切に調整 */
    text-decoration: none;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s; /* 色変更のトランジションを追加 */
}

.social-link:hover {
    background-color: #1a1a1a; /* ホバー時には少し暗めのカーボン色に変更 */
    color: white; /* テキストカラーは白のまま */
}



.footer {
    padding: 20px;
    background-color: #333333; /* フッターもカーボン色に */
}

.home-link {
    display: block;
    font-size: 1.8em;
    color: #007BFF; /* リンクは青色を維持 */
    text-decoration: none;
    padding: 10px;
    border: 3px solid #007BFF; /* リンクの枠も青色 */
    margin: 20px auto;
    width: fit-content;
}

.home-link:hover {
    background-color: #007BFF;
    color: white; /* ホバー時のテキスト色を白に */
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation ease 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
